<div class="container-fluid">
  <h2>DB Test - Angular with NGRX</h2>
  <hr />
  <br />

  <div class="row">
    <dropdown
      class="col"
      label="Regions"
      [optionsList]="regions$ | async"
      [defaultSelection]="selectedRegion$ | async"
      (optionChange)="handleOptionChange($event)"
    >
    </dropdown>
  </div>
  <div class="row" *ngIf="selectedRegion$ | async">
    <dropdown
      class="col"
      label="Countries"
      [optionsList]="countries$ | async"
      [defaultSelection]="selectedCountry$ | async"
      (optionChange)="handleOptionChange($event)"
    >
    </dropdown>
  </div>
  <div class="row" *ngIf="selectedCountry$ | async as country">
    <country-details class="col" [country]="country"> </country-details>
  </div>
</div>
